@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
//////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    width: 1000px;
    align-content: center;
    margin: 0 auto;
}
/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/
.groeperen-header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    max-width: 1000px;
    padding: 80px 0 200px 0;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 15px 0 0 0;
}

.button-header {
    padding: 12px;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin: 12px 12px 12px -10px;
    font-size: 10px;
}

.input-header {
    background-color: transparent;
    border: 2px solid black;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    text-align: left;
    color: #1C2B32;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    margin: 12px -10px 12px 12px;
    padding: 13px;
    width: 200px;
}

::placeholder {
    color: black;
}

.domeinnaam-registreren {
    color: #1C2B32;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 20px;
}
/*///////////// 3.2 Testimonial /////////////*/

/*///////////// 3.3 Support /////////////*/

h2 {
    margin: 40px auto;
    font-size: 20px;
}

blockquote {
    position: relative;
    text-align: left;
    border: 2px white;
    border-radius: 10px;
    padding: 35px 60px 20px 90px;
    width: 700px;
    margin: 40px auto;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    box-shadow: 2px 8px 10px rgb(137, 156, 160, 0.3),
    -2px -2px 10px rgb(137, 156, 160, 0.3);
}

.quote {
    position: absolute;
    left: 60px;
    top: 30px;
    height: 20px;
    width: 20px;
}

.image-jane-and-john {
    position: relative;
    left: 0;
    height: 44px;
    width: 44px;
    margin-top: 20px;
}

#jane-cite {
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    padding-top: 20px;
}

#john-cite {
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    padding-top: 20px;
}

.wij-staan-voor-je-klaar {
    margin-bottom: 30px;
}

.foto-callcenter {
    align-content: center;
    width: 70%;
    background-size: cover;
    border-radius: 10px;
    margin: 15px 15px 10px;
}

.caption-foto {
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    margin-left: 150px;
    margin-right: 160px;
}

.neem-contact-op {
    color: white;
    font-size: 10px;
    background-color: black;
    border-radius: 25px;
    width: 120px;
    padding: 15px;
    margin-top: 10px;
    margin-right: 580px;
}

a {
    color: #899CA0;
    text-decoration: underline;
}
/*///////////// 3.4 Faq /////////////*/
.header-vragen {
    margin: 50px;
}

.section-questions {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    margin: 20px 150px;
    font-size: 12px;
    cursor: pointer;
}

.antwoorden {
    color: white;
    background-color: #899CA0;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 100px 10px -5px;
    text-align: left;
}

/*///////////// 3.5 Footer /////////////*/
#footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    border: black;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 10px;
    margin-top: 40px;
}